{%extends "base.html"%}

{%block head%}

{%endblock%}

{%block body%}
{%include "nav.html"%}
        <!---start container-->
        <div class="container">
            <div class="row">
                <h2>Education</h2>
                    <ul>
                        <li><strong>City University of New York, the
                        Graduate Center, 2016-2023:</strong> Ph.D. in
                        English literature, with focus in Queer
                        studies and the Digital Humanities.</li>
                        <li><strong>The University of Maryland,
                        2014-2016:</strong> M.A. in English language
                        and literature, with focus on Modernist
                        literature and the digital humanities.</li>
                        <li><strong>The Catholic University of
                        America, 2007-2011:</strong> B.A. in English
                        language and literature with minor in Art
                        History.</li>
                    </ul>
            </div>
        <br>
        <div class="row">
            <h2>Digital Humanities Research</h2>
                <ul>
                    <li><strong>Digital Scholarship
                    Specialist</strong>, <a href="https://library.princeton.edu/">Princeton
                    University Library</a>, Princeton
                    University. 2023-present.</li>
<li><strong>Advisor</strong>, <a href="https://gc.cuny.edu/Page-Elements/Academics-Research-Centers-Initiatives/Masters-Programs/Digital-Humanities">MA
                    Program in Digital Humanities</a>, the Graduate
                    Center, CUNY. 2021-2023.</li>
                    <li><strong>Lead Researcher</strong>, “Queerying
                    Queer Archives,” Archives Unleashed Cohort
                    program. June 2022-present</li>
                    <li><strong>Copy Editor</strong>, <em>Feminist
                    Digital Humanities</em>, University of Minnesota
                    Press. May 2021-August 2022</li>
                    <li><strong>Program Coordinator</strong>, The
                    Digital Humanities Research Institute. May
                    2020-August 2021</li>
                    <li><strong>Digital Fellowship</strong>, the
                    Graduate Center Digital Initiatives, CUNY. August
                    2018 - May 2021</li>
                </ul>
        </div>
    <br>
    <div class="row">
        <h2>Publications</h2>
        <ul>
        <li>Calado, Filipa. “Approaches to Queer Digital
        Editing.” <em>Digital Editing &amp; Publishing in the
        21<sup>st</sup> Century</em>. Ed. James O'Sullivan C21
        Editions. Forthcoming in 2023.</li>
        <li>Calado,
        Filipa. "<a href="https://olh.openlibhums.org/article/id/6407/">Encoding
        Queer Erasure in Oscar Wilde's <strong>The Picture of Dorian
        Gray</strong></a>," in <em>Binary Modernisms:
        Re/Appropriations of Modernist Art in the Digital Age</em>,
        special issue of <strong>Open Library of Humanities
        Journal</strong>, May 16, 2019.</li>
        <li>Calado,
        Filipa. <a href="https://cuny.manifoldapp.org/read/imagining-what-we-don-t-know-technological-ignorance-as-condition-for-learning-5d21ab70-7a83-425f-80b5-bf91d4700e40/section/730dbae9-f36b-4c51-a4ef-c4da93e703a7">
        "Imagining What We Don’t Know:' Technological Ignorance as
        Condition for Learning," </a>in <em>The Journal for
        Interactive Technology and Pedagogy</em>, May 16, 2019.</li>

        <li>GCDI Digital Fellows' Blog, <em>Tagging the Tower</em>:  <ul>
                <li>"<a href="https://digitalfellows.commons.gc.cuny.edu/2021/03/08/the-digital-research-institute-workshop-series/">The Digital Research Institute (DRI) Workshop Series,"</a> March 11, 2021</li>
                <li><a href="https://digitalfellows.commons.gc.cuny.edu/2020/09/29/creating-a-dissertation-blog-with-open-source-tools/">“Creating a Dissertation Blog with Open Source Tools,”</a> September 29, 2020</li>
                <li><a href="https://digitalfellows.commons.gc.cuny.edu/2020/02/27/check-out-the-digital-archive-research-collectives-darc-wiki/">"Introducing the Digital Archive Research Collective’s (DARC) Wiki,”</a> February 27, 2020</li>
                <li><a href="https://gcdi.commons.gc.cuny.edu/2019/10/20/toward-the-end-of-a-digital-project-reflections-on-starting-over/"> "Toward the End of a Digital Project, Reflections on Starting Over,"</a> October 10, 2019</li>
                <li><a href="https://gcdi.commons.gc.cuny.edu/2019/04/29/transforming-tei-for-the-web/"> "Transforming TEI for the Web,"</a> April 29, 2019</li>
                <li><a href="https://digitalfellows.commons.gc.cuny.edu/2018/11/01/using-voyant-tools-to-formulate-research-questions-for-textual-data/">"Using Voyant-Tools to Formulate Research Questions for Textual Data,"</a> November 1, 2018</li>      </ul>   
    </div>
<br>
            <div class="row">
                <h2>Teaching</h2> 
            </div>
            <div class="row">
                    <ul>
                        <li><a href="https://www.bit.ly/python-spring-23">Computational Fundamentals: Python</a>, the Graduate Center, CUNY. Spring 2023</li>
                        <li><a href="https://www.bit.ly/fds-spring-23">Foundations of Data Science</a>, City College, CUNY. Spring 2023</li>
                        <li><a href="https://www.bit.ly/ct-spring-23">Critical Thinking</a>, New York University. Spring 2023, Fall & Spring 2022, Fall 2021</li>
                        <li><a href="https://www.bit.ly/cnl-fall-22">Coding Natural Language</a>, The New School. Fall 2022</li>
                        <li><a href="https://www.bit.ly/hrs_spring22">Introduction to the Digital Humanities</a>, New York University. Spring 2022</li>
                        <li><a href="https://engl326spring20.commons.gc.cuny.edu/">English 326: Latinx American Literatures in the US</a> Hunter College, CUNY. Spring 2020</li>
                        <li><a href="https://engl220fall19.commons.gc.cuny.edu/">English 220: Introduction to Writing about Literature</a>, Hunter College, CUNY. 2017-2020</li> 
                        <li>English 101: Academic Writing, The University of Maryland, College Park. 2015-2016.</li>
                    </ul>
            </div>
        <br>
            <div class="row">
                <h2>Workshops and Institutes</h2>
            </div>
            <div class="row">
                <ul>
                    <li>“HTML, CSS, and Github Pages,” Workshop Leader, Pre-Semester Summer Institute, The Graduate Center Digital Initiatives (GCDI), CUNY. August 2022.</li>
                    <li>“Text Analysis with a Zine Corpus,” Workshop Co-Leader, NYCDH Week. February 10, 2022.</li> 
                    <li>“Introduction to git and Github,” Workshop Leader, The Interactive Technology and Pedagogy (ITP) Certificate Program, CUNY. March 11, 2021.</li>
                    <li>“Introduction to Python,” Workshop Leader, GCDI, CUNY. January 2020 &amp; 2021, July 2021.</li>
                    <li>“Text Analysis with Python,” Workshop Support, GCDI, CUNY. January 2020 &amp; 2021.</li>
                    <li>"Web Scraping with BS4,” Workshop Leader, GCDI, CUNY. Marc</li>
                    <li>“Tools for DH,” Workshop Leader, GCDI, CUNY. September 2018, 2019 &amp; 2020.</li>
                    <li>“Getting Started with TEI,” Workshop Leader, GCDI, CUNY. March 2019 &amp; 2020.</li>
                    <li>“Digital Annotation with Hypothes.is,” Workshop Leader, ITP, CUNY. November 2019.</li>
                    <li>“HTML/CSS,” Workshop Leader, ITP Certificate Program, CUNY. March 2018, August 2022.</p></li>
                </ul>
            </div>
        <br>
            <div class="row">
                <h2>Invited Talks</h2>
            </div>
            <div class="row">
                    <ul>
                        <li>Keynote: "Impostors and Transphobes: The Function of Fear in Graduate School," *Bridging Horizons*, English Student Association Conference. The Graduate Center, CUNY. May 3, 2024.</li>
                    </ul>
            </div>
        <br>       
            <div class="row">
                <h2>Talks</h2>
            </div>
                <div class="row">
                    <ul>
                        <li>"Collaborative Work in Digital Scholarly Editing," panel at the Modern Language Association (MLA) Conference, January 6, 2023.</li>
                        <li>"Sex, Flesh, and Skin: Mediation Across the Stack," On the Margins Conference, December 15-16, 2022.</li>
                        <li>"Hypertext Erotics in Caitlin Fischer’s These Waves of Girls," The Electronic Literature Organization (ELO) Conference, May 30, 2022.</li>
                        <li>"Queer Encoding," DH Unbound 2022. The Association for Computers and the Humanities &amp; Canadian Society for Digital Humanities, May 19 2022.</li>
                        <li>"Encoding Queer Erasure with TEI," MLA Conference, January 2022.</li>
                        <li>"Quantifying Gender in Virginia Woolf's 'Orlando'," Association for Computing in the Humanities (ACH) Conference, July 23, 2021.</li>
                        <li>"Flash Obsolescence and the Dissolution of Electronic Literature," The End Times: Approaches to the Apocalypse, English Student Association (ESA) Conference, CUNY Graduate Center. March 12, 2021.</li>
                        <li>"Developing Communities of Practice through Digital Pedagogy," 19<sup>th</sup> Annual CUNY IT Conference, December 2020.</li>
                        <li>"The Routinization of Reading: Using Digital Annotation in the Composition Classroom," North East Modern Language Association (NEMLA). March 2019.</li>
                    </ul>
                </div>
        <br>
            <div class="row">
                <h2>Fellowships, Honors and Service</h2>
            </div>
            <div class="row">
                <ul>
                    <li><strong>Digital Ethnic Futures Consortium (DEFCON) Teaching Fellowship</strong>, Spring 2023</li>
                    <li><strong>Open Knowledge Fellowship</strong>, Mina Rees Library, Spring 2023</li>
                    <li><strong>Louise Lennihan Arts &amp; Science Grant,</strong> the Graduate Center, CUNY, Spring 2022</li>
                    <li><strong>Catalyst Research Grant</strong>, the Graduate Center, CUNY, Fall 2021</li>
                    <li><strong>Alumni and Faculty Dissertation Year Fellowship</strong>, English, the Graduate Center, CUNY, Spring 2021</li>
                    <li><strong>Doctoral Student Research Grant</strong>, the Graduate Center, CUNY, Fall 2020 &amp; Spring 2022</li>
                    <li><strong>COVID-Affected Research Agenda Grants</strong>, the PublicsLab, the Graduate Center, CUNY, Fall 2020</li>
                    <li><strong>The Interactive Technology and Pedagogy Certificate</strong>, The Graduate Center, CUNY, Fall 2019</li>
                    <li><strong>Graduate Teaching Assistant</strong>, the University of Maryland, College Park., Fall 2014 – Spring 2016</li>
                </ul>
            </div>
        </div>


{%endblock%}
 
