{%extends "base.html"%}

{%block head%}

{%endblock%}

{%block body%}
{%include "nav.html"%}
        <!---start container-->
        <div class="container">
            <div class="row">
              <h2>Education</h2>
	    </div>
	    <div class='row'>
                    <ul>
                        <li>Ph.D. in English literature, with focus in
                        Queer Studies and Digital Humanities &
                        Certificate in Interactive Technology and
                        Pedagogy (2019). The Graduate Center, The City
                        University of New York (CUNY). 2023.</li>
                        <li>M.A. in English Language and Literature,
                        with focus on Modernist Literature and Digital
                        Humanities. The University of Maryland.
                        2016.</li>
                        <li>B.A. in English Language and Literature
                        with minor in Art History. The Catholic
                        University of America. 2011.</li>
                    </ul>
            </div>
        <br>
        <div class="row">
          <h2>Experience</h2>
	</div>
	<div class='row'>
          <ul>
	    <li>Assistant
	      Professor, <a href='https://www.pratt.edu/information/'>School
	      of Information</a>, Pratt Institute. July 2024 -
	      present.</li>
	    <li>Digital Scholarship
                    Specialist, <a href="https://library.princeton.edu/">Princeton
                    University Library</a>, Princeton University.
              August 2023 - June 2024.</li>
	    <li>Advisor, <a href="https://gc.cuny.edu/Page-Elements/Academics-Research-Centers-Initiatives/Masters-Programs/Digital-Humanities">MA
                    Program in Digital Humanities</a>, the Graduate
              Center, CUNY. 2021-2023.</li>
	    <li>Lead Researcher, “Queerying Queer Archives,” Archives
	      Unleashed Cohort program. June 2022-present</li>
	    <li>Copy Editor, Feminist Digital Humanities, University
	      of Minnesota Press. May 2021-August 2022</li>
	    <li>Program Coordinator, The Digital Humanities
              Research Institute. May 2020-August 2021</li>
	    <li>Digital Fellow, the Graduate Center Digital
              Initiatives, CUNY. August 2018 - May 2021</li>
	  </ul>
        </div>
    <br>
    <div class="row">
        <h2>Publications</h2>
        <ul>
        <li>Calado, Filipa. "<a href='https://books.sup.ac.uk/sup/catalog/book/sup-9781917341073/chapter/16'>Re-encoding dominance: queer approaches to TEI markup</a>" <i>Digital Editing &amp; Publishing in the
        21<sup>st</sup> Century</i>. Ed. James O'Sullivan C21
        Editions. April 29, 2025.</li>
        <li>Calado, Filipa.
        "<a href="https://olh.openlibhums.org/article/id/6407/">Encoding
        Queer Erasure in Oscar Wilde's <i>The Picture of Dorian
        Gray</i></a>," in "Binary Modernisms: Re/Appropriations of
        Modernist Art in the Digital Age," special issue of <i>Open
        Library of Humanities Journal</i>, May 16, 2019.</li>
        <li>Calado,
        Filipa. <a href="https://cuny.manifoldapp.org/read/imagining-what-we-don-t-know-technological-ignorance-as-condition-for-learning-5d21ab70-7a83-425f-80b5-bf91d4700e40/section/730dbae9-f36b-4c51-a4ef-c4da93e703a7">
        "Imagining What We Don’t Know:' Technological Ignorance as
        Condition for Learning," </a>in <em>The Journal for
        Interactive Technology and Pedagogy</em>, May 16, 2019.</li>

        <li>GCDI Digital Fellows' Blog, <em>Tagging the Tower</em>:  <ul>
                <li>"<a href="https://digitalfellows.commons.gc.cuny.edu/2021/03/08/the-digital-research-institute-workshop-series/">The Digital Research Institute (DRI) Workshop Series,"</a> March 11, 2021</li>
                <li><a href="https://digitalfellows.commons.gc.cuny.edu/2020/09/29/creating-a-dissertation-blog-with-open-source-tools/">“Creating a Dissertation Blog with Open Source Tools,”</a> September 29, 2020</li>
                <li><a href="https://digitalfellows.commons.gc.cuny.edu/2020/02/27/check-out-the-digital-archive-research-collectives-darc-wiki/">"Introducing the Digital Archive Research Collective’s (DARC) Wiki,”</a> February 27, 2020</li>
                <li><a href="https://gcdi.commons.gc.cuny.edu/2019/10/20/toward-the-end-of-a-digital-project-reflections-on-starting-over/"> "Toward the End of a Digital Project, Reflections on Starting Over,"</a> October 10, 2019</li>
                <li><a href="https://gcdi.commons.gc.cuny.edu/2019/04/29/transforming-tei-for-the-web/"> "Transforming TEI for the Web,"</a> April 29, 2019</li>
                <li><a href="https://digitalfellows.commons.gc.cuny.edu/2018/11/01/using-voyant-tools-to-formulate-research-questions-for-textual-data/">"Using Voyant-Tools to Formulate Research Questions for Textual Data,"</a> November 1, 2018</li>      </ul>   
    </div>
    <br>
    <div class="row">
                <h2>Invited Talks and Panels</h2>
            </div>
            <div class="row">
                    <ul>
                        <li>
                            Panelist, "What is the place of open knowledge communities in the development and use of AI?," Columbia University Libraries, 
                            Open Access Week Panel, October 2024. With Benjamin Zweig and Matthew K. Gold.

                        </li>
                        <li>
                            Keynote speaker, "Impostors and Transphobes: The Function of Fear in Graduate
                            School," <i>Bridging Horizons</i>, English Student Association Conference. 
                            The Graduate Center, CUNY. May 3, 2024.</li>
                    </ul>
            </div>
        <br>       
            <div class="row">
                <h2>Talks</h2>
            </div>
                <div class="row">
                  <ul>
		    
            <li>
                “Rethinking the Ethics of “Open” in the Shadow of AI" panel, Alliance of Digital Humanities Organizations (ADHO) Conference, 
                Lisbon, Portugal, July 18, 2025. With Matthew K. Gold, Lauren F. Klein, and Benjamin Zweig.
            </li>
            <li>
                “What Happens When 'Hacking' Becomes Easy? Teaching Python in 2025,” Alliance of Digital Humanities Organizations (ADHO) Conference, 
                Lisbon, Portugal, July 16, 2025. With Patrick Smyth, Stephen Zweibel, and Rafael Davis Portela.
            </li>
                    <li>
                "Reading Fear: A Meditation on Methodology in Machine Learning Experiments," Association for the Study of the Arts of the Present (ASAP) 
                Conference, October 17, 2024.</li>
            </li>
            
                    <li>"Plausibility and Passing: Using LLMs to Study
		    Anti-Trans Discourse," Design Justice in AI
		    Institute. July 3,
		    2024.<a href='https://www.youtube.com/watch?v=uHhews1er04&list=PLSQgWNK_M4a9AH6cuJOYN6f6necEVZfEk&index=14'>
		    See video</a>.</li>
		    <li>"Collaborative Work in Digital Scholarly Editing" panel, Modern Language Association (MLA) Conference, January 6, 2023.</li>
                    <li>"Sex, Flesh, and Skin: Mediation Across the Stack," On the Margins Conference, December 15-16, 2022.</li>
                    <li>"Hypertext Erotics in Caitlin Fischer’s These Waves of Girls," The Electronic Literature Organization (ELO) Conference, May 30, 2022.</li>
                    <li>"Queer Encoding," DH Unbound 2022. The Association for Computers and the Humanities &amp; Canadian Society for Digital Humanities, May 19 2022.</li>
                    <li>"Encoding Queer Erasure with TEI," MLA Conference, January 2022.</li>
                    <li>"Quantifying Gender in Virginia Woolf's 'Orlando'," Association for Computing in the Humanities (ACH) Conference, July 23, 2021.</li>
                    <li>"Flash Obsolescence and the Dissolution of Electronic Literature," The End Times: Approaches to the Apocalypse, English Student Association (ESA) Conference, CUNY Graduate Center. March 12, 2021.</li>
                        <li>"Developing Communities of Practice through Digital Pedagogy," 19<sup>th</sup> Annual CUNY IT Conference, December 2020.</li>
                        <li>"The Routinization of Reading: Using Digital Annotation in the Composition Classroom," North East Modern Language Association (NEMLA). March 2019.</li>
                    </ul>
                </div>
        <br>
            <div class="row">
                <h2>Courses</h2> 
            </div>
            <div class="row">
                    <ul>
                        <li><a href="https://github.com/gofilipa/botz/blob/main/syllabus.pdf">How To Build A Bot</a>, Pratt Institute, School of Information. Summer 2025.</li>
                        <li><a href="https://gofilipa.github.io/664/intro.html">Programming Cultural Heritage</a>, Pratt Institute, School of Information, Fall 2024 - Present.</li>
                        <li><a href="https://bit.ly/601-spring25">Foundations of Information</a>, Pratt Institute, School of Information, Fall 2024 - Present.</li
                        <li><a href="https://www.bit.ly/python-spring-23">Computational Fundamentals: Python</a>, the Graduate Center, CUNY. Spring 2023.</li>
                        <li><a href="https://www.bit.ly/fds-spring-23">Foundations of Data Science</a>, City College, CUNY. Spring 2023.</li>
                        <li><a href="https://www.bit.ly/ct-spring-23">Critical Thinking</a>, New York University. Spring 2023, Fall & Spring 2022, Fall 2021.</li>
                        <li><a href="https://www.bit.ly/cnl-fall-22">Coding Natural Language</a>, The New School. Fall 2022.</li>
                        <li><a href="https://www.bit.ly/hrs_spring22">Introduction to the Digital Humanities</a>, New York University. Spring 2022.</li>
                        <li><a href="https://engl326spring20.commons.gc.cuny.edu/">English 326: Latinx American Literatures in the US</a> Hunter College, CUNY. Spring 2020.</li>
                        <li><a href="https://engl220fall19.commons.gc.cuny.edu/">English 220: Introduction to Writing about Literature</a>, Hunter College, CUNY. 2017-2020.</li>
                        <li>English 101: Academic Writing, The University of Maryland, College Park. 2015-2016.</li>
                    </ul>
            </div>
        <br>
            <div class="row">
                <h2>Workshops and Institutes</h2>
            </div>
            <div class="row">
              <ul>
		<li>"<a href='https://github.com/szweibel/DHSI-API-workshop'>Web APIs with Python</a>", Co-instructor. Digital
		Humanities Summer Institute (<a href='https://dhsi.org/'>DHSI</a>).
		  June 2024.</li>
		<li>"<a href='https:bit.ly/python-for-text'>Python for
		Working With Text</a>" workshop series, Instructor.
		Princeton University Library. September 2023 - May
		2024. 
                    <li>“<a href='https://docs.google.com/document/d/1C9H5_7XKnvAlO-vdRdAaz0c95pdQ0wrem-0ZZG4w0R8/edit?usp=sharing'>HTML,
                    CSS, and Github Pages</a>,” Instructor.
                    Pre-Semester Summer Institute, The Graduate Center
                    Digital Initiatives (GCDI), CUNY. August
                    2022.</li>
                    <li>“<a href='https://archive.org/details/text-analysis-with-a-zine-corpus/mode/2up'>Text
                    Analysis with a Zine Corpus</a>,” Co-instructor.
                    NYCDH Week. February 10, 2022.</li>
                    <li>“<a href='https://docs.google.com/presentation/d/1GjejNOMXz2bohyz0wa-tg9ag8MHgWH3Sz5-jX0hqs8Q/edit?usp=sharing'>Introduction
                    to git and Github</a>,” Instructor. The
                    Interactive Technology and Pedagogy (ITP)
                    Certificate Program, CUNY. March 11, 2021.</li>
                    <li>“<a href='https://github.com/GC-DRI/python'>Introduction
                    to Python</a>,” Instructor. Graduate Center
                    Digital Initiatives (GCDI), CUNY. January 2020
                    &amp; 2021, July 2021.</li>
                    <li>“<a href='https://github.com/GC-DRI/text-analysis'>Text Analysis with Python</a>,” Co-instructor. GCDI,
                    CUNY. January 2020 &amp; 2021.</li>
                    <li>"<a href='https://github.com/gofilipa/bs4_workshop'>Web Scraping with BS4</a>,” Instructor. GCDI,
                    CUNY. Marc</li>
                    <li>“<a href='https://tinyurl.com/y8w2uo74'>Tools for DH</a>,” Instructor. GCDI, CUNY.
                    September 2018, 2019 &amp; 2020.</li>
                    <li>“<a href='https://github.com/gofilipa/tei_workshop'>Getting Started with TEI</a>,” Instructor. GCDI,
                    CUNY. March 2019 &amp; 2020.</li>
                    <li>“<a href='https://github.com/gofilipa/hypo_workshop'>Digital Annotation with Hypothes.is</a>,”
                    Intructor. Interactive Technology and Pegagogy
                    Certificate Program, CUNY. November 2019.</li>
                    <li>“HTML/CSS,” Instructor. Interactive Technology
                    and Pedagogy Certificate Program, CUNY. March
                    2018, August 2022.</p></li>
                </ul>
            </div>
        <br>
            
            <div class="row">
                <h2>Fellowships and Grants</h2>
            </div>
            <div class="row">
              <ul>
                    <li>Pratt Institute, School of Information Startup Grant, Fall 2024.</li>
                    <li>Digital Ethnic Futures Consortium (DEFCON) Teaching Fellowship, Spring 2023.</li>
                    <li>Open Knowledge Fellowship, Mina Rees Library, Spring 2023.</li>
                    <li>Louise Lennihan Arts &amp; Science Grant, the Graduate Center, CUNY, Spring 2022.</li>
                    <li>Catalyst Research Grant, the Graduate Center, CUNY, Fall 2021.</li>
                    <li>Alumni and Faculty Dissertation Year Fellowship, English, the Graduate Center, CUNY, Spring 2021.</li>
                    <li>Doctoral Student Research Grant, the Graduate Center, CUNY, Fall 2020 &amp; Spring 2022.</li>
                    <li>COVID-Affected Research Agenda Grants, the PublicsLab, the Graduate Center, CUNY, Fall 2020.</li>
                    <li>Graduate Teaching Assistant, the University of Maryland, College Park., Fall 2014 – Spring 2016.</li>
                </ul>
            </div>

	    <br>

        <div class="row">
                <h2>Honors</h2>
            </div>
            <div class="row">
                <ul>
                    <li>Most Distinguished Dissertation of the Year. The Graduate Center, CUNY, Department of English. 2024.
                </ul>
            </div>

        <br>
        
        <div class="row">
                <h2>Service</h2>
        </div>

        <div class="row">
                <ul>
                    <li>Reviewer, <i>Social Text Collective</i>, 2024 - present.</li>
                    <li>Committee Member, Diversity Committee, School of Information, Pratt Institute, 2025 - 2026.</li>
                    <li>Committee Member, Faculty Search Committee, School of Information, Pratt Institute, 2024 - 2025.</li>
                </ul>
            </div>

            <br>


{%endblock%}
 
