{%extends "base.html"%}

{%block head%}
{%endblock%}

{%block body%}

<!-- Start jumbotron -->
<div class="jumbotron">
    <h1>Filipa Calado explores digital tools for working with
    text. She is a specialist at the Princeton
    University Library, and has a PhD in Literature from the Graduate
    Center, CUNY. Her current <a href="{{url_for('research')}}">research</a>
    explores bias in Large Language Models, and she has
    <a href="{{url_for('teach')}}">taught</a> courses on Literature,
    Data Science, and Critical Thinking at NYU, the New School, and
    CUNY. See her <a href="{{url_for('cv')}}">CV</a>.</h1>
</div>
<!-- end jumbotron -->

{%endblock%}
 
