{%extends "base.html"%}

{%block head%}
{%endblock%}

{%block body%}

<!-- Start jumbotron -->
<div class="jumbotron">
    <h1>Filipa Calado is a student, teacher, and writer based in New York City. Her <a href="{{url_for('qt')}}">Ph.D. research</a> explores how digital tools change the way we study literature. Her <a href="{{url_for('teach')}}">teaching</a> focuses on Digital and Queer Studies at NYU, the New School, and CUNY. See her <a href="{{url_for('cv')}}">CV</a>.</h1>
</div>
<!-- end jumbotron -->

{%endblock%}
 