{%extends "base.html"%}

{%block head%}

{%endblock%}

{%block body%}
{%include "nav.html"%}

<!---start container-->
<div class="container">

    <div class="row">

        <h2><a href="https://gofilipa.github.io/fds-spring-23/syllabus.html">Foundations of Data Science</a>, City College, Spring 2023</h2>

        <p>This course introduces humanities students to the basics of data science by focusing on the critical feminist approach to studying data. This approach emphasizes the importance of understanding and addressing the ways in which power and privilege in social systems shape the collection, analysis, and interpretation of data. This course grounds discussion of topics like intersectionality, power, and privilege with practical experimentation, introducing students to programmatic methods of data analysis with Python. As they learn to code with Python, students will examine how bias infiltrates computational processes, examining firsthand how the necessity for standards and rules that enable computation can stymie the expression of real-world and human complexity.</p>
    </div>
    
    <div class="row">

        <h2><a href="https://bit.ly/cnl-fall-22">Coding Natural Language</a>, The New School, Fall 2022 </h2>

        <p>At the intersection of English and Technology studies, “Coding Natural Language” teaches students the tools to ethically navigate the increasingly automated world and workforce. In this course, students will develop a theoretical and practical skillset for programming language data for artificial intelligence (AI) technologies. This course grounds the discussion of theory with practical experimentation: each class includes a "coding lesson" that introduces foundational programming concepts with the Python programming language. As they learn to code language, students will also examine firsthand how cultural bias infiltrates computational processes. Course readings include critical essays in Computer History and Literary Studies as well as science fiction, by authors like Alan Turing, Donna Haraway, and Ruha Benjamin. Students will leave the course with critical and computational skills that will open career opportunities in the field of technology.</p>
        

    </div>
    
    <div class="row">

        <h2><a href="https://www.bit.ly/ct-spring-23">Critical Thinking</a>, NYU; Fall 2021 - Spring 2023</h2>
        
        <p> Throughout the semester, students use arguments for racial and gender equality as a tool for developing critical thinking and reading skills. The first unit contextualizes critical thinking within historical debates about intersectional feminism. The second unit explores contemporary conversations about social issues from transgender, critical race, and masculinist perspectives. The third unit explores how these debates play out in science fiction. Reading across disciplinary boundaries, students consider the construction, negotiation, recognition, and revision of gender and race, and question the arguments and possibilities for differently organized society and politics. Readings include critical essays by Virginia Woolf, bell hooks, and Gloria Anzaldúa and fiction by Ted Chiang, Junot Díaz, and Octavia Butler, among others.
        </p>
    </div>
</div>
<div class="container">
    <div class="row">

        <h2><a href="https://engl326spring20.commons.gc.cuny.edu/">Latinx American Literatures in the US</a>, Hunter College; Spring 2020</h2>

        <p>This course engages themes unique to Latinx Literature: border, mestiza, and hybrid identities, the incommensurability of cross-cultural communication, the consequences of cultural appropriation, sexism, and racial shame, and the possibility of an inclusionary American identity. Our approach centers the lived realities of gender, sexuality, and race, and foregrounds queer and nonnormative perspectives as we deconstruct machismo and patriarchal culture. We explore a selection of texts from the South American, Chicana, Dominican, and Cuban traditions, including: </p>

            <ul>
                <li>Gloria Anzaldúa, "Borderlands / La Frontera: The New Mestiza," 1987.</li>
                <li>José Esteban Muñoz. "Disidentifications: Queers of Color and the Performance of Politics," 1999.</li>
                <li>Junot Díaz, "This Is How You Lose Her," 2012.</li>
                <li>Carmen Maria Machado, "In The Dream House," 2019.</li>
            </ul>

    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <h2><a href="https://engl220fall19.commons.gc.cuny.edu/syllabus/">Introduction to Writing About Literature</a>, Hunter College; Fall 2017 - Fall 2019 </h2>
        <p>With an emphasis on close reading and analytical writing, English 220 encourages the interpretive skills necessary for critical response to literature that is firmly grounded in the text. The course allows students to develop an appreciation and understanding of the aesthetic qualities of literature and how these inform ongoing cultural, social, and historical dialogue and experience. Key texts include:</p>
        <ul>
            <li>John Donne, "Songs and Sonets," 1633.</li>
            <li>William Shakespeare, "Twelfth Night: Or What You Will," and "As You Like It"</li>
            <li>Michael Field (Edith Cooper and Katharine Bradley), "Sight and Song," 1892.</li>
            <li>Virginia Woolf, "Orlando: A Biography," 1931.</li>
            <li>Junot Díaz, "This Is How You Lose Her," 2012.</li>
        </ul>
    </div>
</div>

{%endblock%}
 